body {
    font-family: Arial, sans-serif;
<<<<<<< HEAD:style.css
    background-color: #f4f4f4;
=======
    background-image: url('bg.gif');
    background-repeat: no-repeat;
    background-size: cover;
>>>>>>> 6e9cf172ece3dce2e772fda3a81a7c62333a29cb:styles.css
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    margin-bottom: 20px;
}

textarea {
    width: 100%;
    margin-bottom: 10px;
}

button {
    padding: 10px 15px;
    background: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #0056b3;
}

h2 {
    margin-top: 20px;
}
